# Better Auth Configuration
BETTER_AUTH_SECRET=nKMwH3I5gj7VBB5Y6vEP5unQWUvk51S7
BETTER_AUTH_URL=http://localhost:3000

# Database
DATABASE_URL="mongodb+srv://farid:Farid%402004%2E@cluster0.nbvert8.mongodb.net/blogsphere?retryWrites=true&w=majority&appName=Cluster0"

# Google OAuth Credentials
GOOGLE_CLIENT_ID=867192397518-pe3977qglt1530ricceoeb8v9lter0i7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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